<footer id="footer">
  <i class="fab footer-icon fa-twitter"></i>
  <i class="fab footer-icon fa-facebook-f"></i>
  <i class="fab footer-icon fa-instagram"></i>
  <i class="fas footer-icon fa-envelope"></i>
  <p>©Shashank 2020</p>

</footer>

  </body>
</html>
