<%-include("header") -%>
<section class="middle">
  <form  class="input" action="/" method="post">
    <label for=""><h1>Enter the city name:</h1></label>
    <input class="cityInput" type="text" name="cityName" placeholder="City/Pincode">
    <button type="submit" class="btn btn-outline-warning">Check</button>

  </form>
</section>

<%-include ("footer")-%>
