
div{
  margin: auto;
}
.upperImage{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  height: 600px;

  object-fit: cover;
}

.input{
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
}
body{
  /* background-color: #ddf3f5; */
  background-color: #E4E9FD;
  background-image: -webkit-linear-gradient(65deg, #A683E3 50%, #E4E9FD 50%);

  font-family: 'helvetica neue';
}

.middle{
  margin-top: 50px;
  margin-bottom: 30px;
}
.cityInput{
  width: 40%;
 padding: 12px 20px;
 margin: 20px 10px;

 border: 1px solid #ccc;
 border-radius: 4px;
 box-sizing: border-box;
}
#footer{
  text-align: center;
  padding: 3%;

}
.footer-icon{
  margin: 20px;
}
.carousel{
  margin-top: 50px;
  width: 50%;
}
.carousel-item {
  width:640px;
  height:360px;
}
.result{
  margin-top: 50px;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
}
